$elements: (
	Hydrogen : (
		symbol : 'H',
		atomicNumber : '1',
		atomicMass : '1.00794',
		cpkColor : #FFFFFF
	),
	Helium : (
		symbol : 'He',
		atomicNumber : '2',
		atomicMass : '4.002602',
		cpkColor : #D9FFFF
	),
	Lithium : (
		symbol : 'Li',
		atomicNumber : '3',
		atomicMass : '6.941',
		cpkColor : #CC80FF
	),
	Beryllium : (
		symbol : 'Be',
		atomicNumber : '4',
		atomicMass : '9.012182',
		cpkColor : #C2FF00
	),
	Boron : (
		symbol : 'B',
		atomicNumber : '5',
		atomicMass : '10.811',
		cpkColor : #FFB5B5
	),
	Carbon : (
		symbol : 'C',
		atomicNumber : '6',
		atomicMass : '12.0107',
		cpkColor : #909090
	),
	Nitrogen : (
		symbol : 'N',
		atomicNumber : '7',
		atomicMass : '14.0067',
		cpkColor : #3050F8
	),
	Oxygen : (
		symbol : 'O',
		atomicNumber : '8',
		atomicMass : '15.9994',
		cpkColor : #FF0D0D
	),
	Fluorine : (
		symbol : 'F',
		atomicNumber : '9',
		atomicMass : '18.9984032',
		cpkColor : #1FF01F
	),
	Neon : (
		symbol : 'Ne',
		atomicNumber : '10',
		atomicMass : '20.1797',
		cpkColor : #B3E3F5
	),
	Sodium : (
		symbol : 'Na',
		atomicNumber : '11',
		atomicMass : '22.98976928',
		cpkColor : #AB5CF2
	),
	Magnesium : (
		symbol : 'Mg',
		atomicNumber : '12',
		atomicMass : '24.3050',
		cpkColor : #8AFF00
	),
	Aluminum or Aluminium : (
		symbol : 'Al',
		atomicNumber : '13',
		atomicMass : '26.9815386',
		cpkColor : #BFA6A6
	),
	Silicon : (
		symbol : 'Si',
		atomicNumber : '14',
		atomicMass : '28.0855',
		cpkColor : #F0C8A0
	),
	Phosphorus : (
		symbol : 'P',
		atomicNumber : '15',
		atomicMass : '30.973762',
		cpkColor : #FF8000
	),
	Sulfur : (
		symbol : 'S',
		atomicNumber : '16',
		atomicMass : '32.065',
		cpkColor : #FFFF30
	),
	Chlorine : (
		symbol : 'Cl',
		atomicNumber : '17',
		atomicMass : '35.453',
		cpkColor : #1FF01F
	),
	Argon : (
		symbol : 'Ar',
		atomicNumber : '18',
		atomicMass : '39.948',
		cpkColor : #80D1E3
	),
	Potassium : (
		symbol : 'K',
		atomicNumber : '19',
		atomicMass : '39.0983',
		cpkColor : #8F40D4
	),
	Calcium : (
		symbol : 'Ca',
		atomicNumber : '20',
		atomicMass : '40.078',
		cpkColor : #3DFF00
	),
	Scandium : (
		symbol : 'Sc',
		atomicNumber : '21',
		atomicMass : '44.955912',
		cpkColor : #E6E6E6
	),
	Titanium : (
		symbol : 'Ti',
		atomicNumber : '22',
		atomicMass : '47.867',
		cpkColor : #BFC2C7
	),
	Vanadium : (
		symbol : 'V',
		atomicNumber : '23',
		atomicMass : '50.9415',
		cpkColor : #A6A6AB
	),
	Chromium : (
		symbol : 'Cr',
		atomicNumber : '24',
		atomicMass : '51.9961',
		cpkColor : #8A99C7
	),
	Manganese : (
		symbol : 'Mn',
		atomicNumber : '25',
		atomicMass : '54.938045',
		cpkColor : #9C7AC7
	),
	Iron : (
		symbol : 'Fe',
		atomicNumber : '26',
		atomicMass : '55.845',
		cpkColor : #E06633
	),
	Cobalt : (
		symbol : 'Co',
		atomicNumber : '27',
		atomicMass : '58.933195',
		cpkColor : #F090A0
	),
	Nickel : (
		symbol : 'Ni',
		atomicNumber : '28',
		atomicMass : '58.6934',
		cpkColor : #50D050
	),
	Copper : (
		symbol : 'Cu',
		atomicNumber : '29',
		atomicMass : '63.546',
		cpkColor : #C88033
	),
	Zinc : (
		symbol : 'Zn',
		atomicNumber : '30',
		atomicMass : '65.38',
		cpkColor : #7D80B0
	),
	Gallium : (
		symbol : 'Ga',
		atomicNumber : '31',
		atomicMass : '69.723',
		cpkColor : #C28F8F
	),
	Germanium : (
		symbol : 'Ge',
		atomicNumber : '32',
		atomicMass : '72.64',
		cpkColor : #668F8F
	),
	Arsenic : (
		symbol : 'As',
		atomicNumber : '33',
		atomicMass : '74.92160',
		cpkColor : #BD80E3
	),
	Selenium : (
		symbol : 'Se',
		atomicNumber : '34',
		atomicMass : '78.96',
		cpkColor : #FFA100
	),
	Bromine : (
		symbol : 'Br',
		atomicNumber : '35',
		atomicMass : '79.904',
		cpkColor : #A62929
	),
	Krypton : (
		symbol : 'Kr',
		atomicNumber : '36',
		atomicMass : '83.798',
		cpkColor : #5CB8D1
	),
	Rubidium : (
		symbol : 'Rb',
		atomicNumber : '37',
		atomicMass : '85.4678',
		cpkColor : #702EB0
	),
	Strontium : (
		symbol : 'Sr',
		atomicNumber : '38',
		atomicMass : '87.62',
		cpkColor : #00FF00
	),
	Yttrium : (
		symbol : 'Y',
		atomicNumber : '39',
		atomicMass : '88.90585',
		cpkColor : #94FFFF
	),
	Zirconium : (
		symbol : 'Zr',
		atomicNumber : '40',
		atomicMass : '91.224',
		cpkColor : #94E0E0
	),
	Niobium : (
		symbol : 'Nb',
		atomicNumber : '41',
		atomicMass : '92.90638',
		cpkColor : #73C2C9
	),
	Molybdenum : (
		symbol : 'Mo',
		atomicNumber : '42',
		atomicMass : '95.96',
		cpkColor : #54B5B5
	),
	Technetium : (
		symbol : 'Tc',
		atomicNumber : '43',
		atomicMass : '[98]',
		cpkColor : #3B9E9E
	),
	Ruthenium : (
		symbol : 'Ru',
		atomicNumber : '44',
		atomicMass : '101.07',
		cpkColor : #248F8F
	),
	Rhodium : (
		symbol : 'Rh',
		atomicNumber : '45',
		atomicMass : '102.90550',
		cpkColor : #0A7D8C
	),
	Palladium : (
		symbol : 'Pd',
		atomicNumber : '46',
		atomicMass : '106.42',
		cpkColor : #006985
	),
	Silver : (
		symbol : 'Ag',
		atomicNumber : '47',
		atomicMass : '107.8682',
		cpkColor : #C0C0C0
	),
	Cadmium : (
		symbol : 'Cd',
		atomicNumber : '48',
		atomicMass : '112.411',
		cpkColor : #FFD98F
	),
	Indium : (
		symbol : 'In',
		atomicNumber : '49',
		atomicMass : '114.818',
		cpkColor : #A67573
	),
	Tin : (
		symbol : 'Sn',
		atomicNumber : '50',
		atomicMass : '118.710',
		cpkColor : #668080
	),
	Antimony : (
		symbol : 'Sb',
		atomicNumber : '51',
		atomicMass : '121.760',
		cpkColor : #9E63B5
	),
	Tellurium : (
		symbol : 'Te',
		atomicNumber : '52',
		atomicMass : '127.60',
		cpkColor : #D47A00
	),
	Iodine : (
		symbol : 'I',
		atomicNumber : '53',
		atomicMass : '126.90447',
		cpkColor : #940094
	),
	Xenon : (
		symbol : 'Xe',
		atomicNumber : '54',
		atomicMass : '131.293',
		cpkColor : #429EB0
	),
	Cesium : (
		symbol : 'Cs',
		atomicNumber : '55',
		atomicMass : '132.9054519',
		cpkColor : #57178F
	),
	Barium : (
		symbol : 'Ba',
		atomicNumber : '56',
		atomicMass : '137.327',
		cpkColor : #00C900
	),
	Lanthanum : (
		symbol : 'La',
		atomicNumber : '57',
		atomicMass : '138.90547',
		cpkColor : #70D4FF
	),
	Cerium : (
		symbol : 'Ce',
		atomicNumber : '58',
		atomicMass : '140.116',
		cpkColor : #FFFFC7
	),
	Praseodymium : (
		symbol : 'Pr',
		atomicNumber : '59',
		atomicMass : '140.90765',
		cpkColor : #D9FFC7
	),
	Neodymium : (
		symbol : 'Nd',
		atomicNumber : '60',
		atomicMass : '144.242',
		cpkColor : #C7FFC7
	),
	Promethium : (
		symbol : 'Pm',
		atomicNumber : '61',
		atomicMass : '[145]',
		cpkColor : #A3FFC7
	),
	Samarium : (
		symbol : 'Sm',
		atomicNumber : '62',
		atomicMass : '150.36',
		cpkColor : #8FFFC7
	),
	Europium : (
		symbol : 'Eu',
		atomicNumber : '63',
		atomicMass : '151.964',
		cpkColor : #61FFC7
	),
	Gadolinium : (
		symbol : 'Gd',
		atomicNumber : '64',
		atomicMass : '157.25',
		cpkColor : #45FFC7
	),
	Terbium : (
		symbol : 'Tb',
		atomicNumber : '65',
		atomicMass : '158.92535',
		cpkColor : #30FFC7
	),
	Dysprosium : (
		symbol : 'Dy',
		atomicNumber : '66',
		atomicMass : '162.500',
		cpkColor : #1FFFC7
	),
	Holmium : (
		symbol : 'Ho',
		atomicNumber : '67',
		atomicMass : '164.93032',
		cpkColor : #00FF9C
	),
	Erbium : (
		symbol : 'Er',
		atomicNumber : '68',
		atomicMass : '167.259',
		cpkColor : #000E00
	),
	Thulium : (
		symbol : 'Tm',
		atomicNumber : '69',
		atomicMass : '168.93421',
		cpkColor : #00D452
	),
	Ytterbium : (
		symbol : 'Yb',
		atomicNumber : '70',
		atomicMass : '173.054',
		cpkColor : #00BF38
	),
	Lutetium : (
		symbol : 'Lu',
		atomicNumber : '71',
		atomicMass : '174.9668',
		cpkColor : #00AB24
	),
	Hafnium : (
		symbol : 'Hf',
		atomicNumber : '72',
		atomicMass : '178.49',
		cpkColor : #4DC2FF
	),
	Tantalum : (
		symbol : 'Ta',
		atomicNumber : '73',
		atomicMass : '180.94788',
		cpkColor : #4DA6FF
	),
	Tungsten : (
		symbol : 'W',
		atomicNumber : '74',
		atomicMass : '183.84',
		cpkColor : #2194D6
	),
	Rhenium : (
		symbol : 'Re',
		atomicNumber : '75',
		atomicMass : '186.207',
		cpkColor : #267DAB
	),
	Osmium : (
		symbol : 'Os',
		atomicNumber : '76',
		atomicMass : '190.23',
		cpkColor : #266696
	),
	Iridium : (
		symbol : 'Ir',
		atomicNumber : '77',
		atomicMass : '192.217',
		cpkColor : #175487
	),
	Platinum : (
		symbol : 'Pt',
		atomicNumber : '78',
		atomicMass : '195.084',
		cpkColor : #D0D0E0
	),
	Gold : (
		symbol : 'Au',
		atomicNumber : '79',
		atomicMass : '196.966569',
		cpkColor : #FFD123
	),
	Mercury : (
		symbol : 'Hg',
		atomicNumber : '80',
		atomicMass : '200.59',
		cpkColor : #B8B8D0
	),
	Thallium : (
		symbol : 'Tl',
		atomicNumber : '81',
		atomicMass : '204.3833',
		cpkColor : #A6544D
	),
	Lead : (
		symbol : 'Pb',
		atomicNumber : '82',
		atomicMass : '207.2',
		cpkColor : #575961
	),
	Bismuth : (
		symbol : 'Bi',
		atomicNumber : '83',
		atomicMass : '208.98040',
		cpkColor : #9E4FB5
	),
	Polonium : (
		symbol : 'Po',
		atomicNumber : '84',
		atomicMass : '[209]',
		cpkColor : #AB5C00
	),
	Astatine : (
		symbol : 'At',
		atomicNumber : '85',
		atomicMass : '[210]',
		cpkColor : #754F45
	),
	Radon : (
		symbol : 'Rn',
		atomicNumber : '86',
		atomicMass : '[222]',
		cpkColor : #428296
	),
	Francium : (
		symbol : 'Fr',
		atomicNumber : '87',
		atomicMass : '[223]',
		cpkColor : #420066
	),
	Radium : (
		symbol : 'Ra',
		atomicNumber : '88',
		atomicMass : '[226]',
		cpkColor : #007D00
	),
	Actinium : (
		symbol : 'Ac',
		atomicNumber : '89',
		atomicMass : '[227]',
		cpkColor : #70ABFA
	),
	Thorium : (
		symbol : 'Th',
		atomicNumber : '90',
		atomicMass : '232.03806',
		cpkColor : #00BAFF
	),
	Protactinium : (
		symbol : 'Pa',
		atomicNumber : '91',
		atomicMass : '231.03588',
		cpkColor : #00A1FF
	),
	Uranium : (
		symbol : 'U',
		atomicNumber : '92',
		atomicMass : '238.02891',
		cpkColor : #008FFF
	),
	Neptunium : (
		symbol : 'Np',
		atomicNumber : '93',
		atomicMass : '[237]',
		cpkColor : #0080FF
	),
	Plutonium : (
		symbol : 'Pu',
		atomicNumber : '94',
		atomicMass : '[244]',
		cpkColor : #006BFF
	),
	Americium : (
		symbol : 'Am',
		atomicNumber : '95',
		atomicMass : '[243]',
		cpkColor : #545CF2
	),
	Curium : (
		symbol : 'Cm',
		atomicNumber : '96',
		atomicMass : '[247]',
		cpkColor : #785CE3
	),
	Berkelium : (
		symbol : 'Bk',
		atomicNumber : '97',
		atomicMass : '[247]',
		cpkColor : #8A4FE3
	),
	Californium : (
		symbol : 'Cf',
		atomicNumber : '98',
		atomicMass : '[251]',
		cpkColor : #A136D4
	),
	Einsteinium : (
		symbol : 'Es',
		atomicNumber : '99',
		atomicMass : '[252]',
		cpkColor : #B31FD4
	),
	Fermium : (
		symbol : 'Fm',
		atomicNumber : '100',
		atomicMass : '[257]',
		cpkColor : #B31FBA
	),
	Mendelevium : (
		symbol : 'Md',
		atomicNumber : '101',
		atomicMass : '[258]',
		cpkColor : #B30DA6
	),
	Nobelium : (
		symbol : 'No',
		atomicNumber : '102',
		atomicMass : '[259]',
		cpkColor : #BD0D87
	),
	Lawrencium : (
		symbol : 'Lr',
		atomicNumber : '103',
		atomicMass : '[262]',
		cpkColor : #C70066
	),
	Rutherfordium : (
		symbol : 'Rf',
		atomicNumber : '104',
		atomicMass : '[267]',
		cpkColor : #CC0059
	),
	Dubnium : (
		symbol : 'Db',
		atomicNumber : '105',
		atomicMass : '[268]',
		cpkColor : #D1004F
	),
	Seaborgium : (
		symbol : 'Sg',
		atomicNumber : '106',
		atomicMass : '[271]',
		cpkColor : #D90045
	),
	Bohrium : (
		symbol : 'Bh',
		atomicNumber : '107',
		atomicMass : '[272]',
		cpkColor : #E00038
	),
	Hassium : (
		symbol : 'Hs',
		atomicNumber : '108',
		atomicMass : '[270]',
		cpkColor : #E6002E
	),
	Meitnerium : (
		symbol : 'Mt',
		atomicNumber : '109',
		atomicMass : '[276]',
		cpkColor : #EB0026
	),
	Darmstadtium : (
		symbol : 'Ds',
		atomicNumber : '110',
		atomicMass : '[281]',
		cpkColor : #FF1493
	),
	Roentgenium : (
		symbol : 'Rg',
		atomicNumber : '111',
		atomicMass : '[280]',
		cpkColor : #FF1493
	),
	Copernicium : (
		symbol : 'Cn',
		atomicNumber : '112',
		atomicMass : '[285]',
		cpkColor : #FF1493
	),
	Ununtrium : (
		symbol : 'Uut',
		atomicNumber : '113',
		atomicMass : '[284]',
		cpkColor : #FF1493
	),
	Ununquadium : (
		symbol : 'Uuq',
		atomicNumber : '114',
		atomicMass : '[289]',
		cpkColor : #FF1493
	),
	Ununpentium : (
		symbol : 'Uup',
		atomicNumber : '115',
		atomicMass : '[288]',
		cpkColor : #FF1493
	),
	Ununhexium : (
		symbol : 'Uuh',
		atomicNumber : '116',
		atomicMass : '[293]',
		cpkColor : #FF1493
	),
	Ununseptium : (
		symbol : 'Uus',
		atomicNumber : '117',
		atomicMass : '[294]',
		cpkColor : #FF1493
	),
	Ununoctium : (
		symbol : 'Uuo',
		atomicNumber : '118',
		atomicMass : '[294]',
		cpkColor : #FF1493
	)
);